/* PHASE 3: Content */

.content {
  margin: 0 auto;
  background: white;
  width: 900px;

}

.content-sidebar {
  float: left;
  padding: 20px;
  width: 200px;
}

.content-main {
  float: left;
  padding: 20px;
  width: 620px;
}

.content h1 {
  font-size: 24px;
  font-weight: 700;
  padding: 20px;
}

.content p {
  font-weight: 400;
}
